.button {
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 2px;

    &.disabled {
        cursor: not-allowed;
        background-color: rgb(109, 109, 109) !important;
    }

    &.md {
        padding: 5px;
    }

    &.lg {
        padding: 8px;
    }

    &.primary {
        background-color: rgb(0, 173, 0);

        &:hover {
            background-color: rgb(7, 104, 7)
        }
    }

    &.danger {
        background-color: rgb(177, 3, 3);

        &:hover {
            background-color: rgb(123, 2, 2);
        }
    }

    &.secondary {
        background-color: rgb(170, 0, 255);

        &:hover {
            background-color: rgb(86, 2, 129);
        }
    }

    &.link {
        background-color: unset;

        &:hover {
            background-color: unset;
            text-decoration: underline;
        }
    }
}