.quote {
    display: flex;
    border: 1px solid ccc;
    height: 60px;
    align-items: center;
    gap: 8px;
    padding: 10px 50px;

    .voteButtons {
        display: flex;
        flex-direction: column;
    }
}